n8n-workflows/fc-close-wo.json
{
  "name": "fc-close-wo",
  "nodes": [
    {
      "id": "c0a1b2c3-0001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 300],
      "webhookId": "fc-close-wo-webhook",
      "onError": "continueRegularOutput",
      "parameters": {
        "httpMethod": "POST",
        "path": "fc-facilities-close",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "c0a1b2c3-0002-4000-8000-000000000002",
      "name": "Prep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nconst rawPdf = (body.pdfBase64 || '').replace(/^data:[^;]+;base64,/, '');\nconst closurePdfFileName = body.workOrderId + '-CLOSED.pdf';\n\nreturn [{\n  json: {\n    workOrderId: body.workOrderId,\n    closedAt: body.closedAt,\n    techName: body.techName,\n    completionNotes: body.completionNotes,\n    partsUsed: body.partsUsed || '',\n    status: body.status,\n    completionPhoto: body.completionPhoto || null,\n    completionPhotoName: body.completionPhotoName || null,\n    rawPdf,\n    closurePdfFileName\n  }\n}];"
      }
    },
    {
      "id": "c0a1b2c3-0003-4000-8000-000000000003",
      "name": "Lookup Work Order",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [480, 300],
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1HRZvsz-rjpItXbZVeG1wFDWr1mlGzKvSttwgGrgEf3I"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "All"
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "id": "c0a1b2c3-0004-4000-8000-000000000004",
      "name": "Process Lookup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300],
      "parameters": {
        "jsCode": "const allRows = $input.all();\nconst prepData = $('Prep').first().json;\nconst workOrderId = prepData.workOrderId;\n\nconst match = allRows.find(item => item.json['Work Order ID'] === workOrderId);\n\nif (!match) {\n  return [{ json: { found: false, workOrderId } }];\n}\n\nreturn [{\n  json: {\n    found: true,\n    ...prepData,\n    locationGroup: match.json['Organization'],\n    locationSub: match.json['Location']\n  }\n}];"
      }
    },
    {
      "id": "c0a1b2c3-0005-4000-8000-000000000005",
      "name": "Work Order Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [960, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "cond-found-1",
              "leftValue": "={{ $json.found }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "c0a1b2c3-0006-4000-8000-000000000006",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1200, 200],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'received' }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      }
    },
    {
      "id": "c0a1b2c3-0007-4000-8000-000000000007",
      "name": "Respond Not Found",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1200, 500],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: 'Work order not found' }) }}",
        "options": {
          "responseCode": 404,
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      }
    },
    {
      "id": "c0a1b2c3-0008-4000-8000-000000000008",
      "name": "Resolve Drive Folder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 200],
      "parameters": {
        "jsCode": "const group = $json.locationGroup || '';\nconst sub   = $json.locationSub   || '';\n\nconst folderMap = {\n  'Burroughs Restaurant Group': {\n    'Collierville':  '180VIqckCkzbfTphClhiBdSXYDqKwc1-R',\n    'Dexter':        '16sPwGAtuRIMVm_4338eo-ofU9g6oKJ1R',\n    'Olive Branch':  '11lIU785alqHXpd31_YJWoSojcAz_vb0y',\n    'Oxford':        '1CeZ8l73tVOhbvwykk3FnjpuGs0b1cuu7',\n    'Whitehaven':    '1QkrW0-ervpfCIdMV4n7ZOz7NGD7P9i4u',\n    '_group':        '1rsniXvtldFG-03TbWSu9QtsC792eoBWF'\n  },\n  'First Choice': {\n    'Main Office':   '1P-h3MjK4orxrkhVBgiH8owR-Z1ua2nGj',\n    'Warehouse':     '1TbJTEpeLyriGirFDSPw2-Pzws5jBnRH8',\n    '_group':        '1Jhju0T0kEgkvdwXm9AFa0cJSqSqMt_bn'\n  },\n  'R.S. Lewis and Sons Funeral Home': {\n    'Austin Peay':   '1k1J55XZXDyDKwc0JzvldgPAo4bFU6VUY',\n    'Vance Avenue':  '1KkXJw-Llr47M_S7eZ_eWjju0Ui5pjHTT',\n    'Walnut Grove':  '1K9D8cK5yibzPw3lXU99TEC-iGIU9hyLs',\n    '_group':        '1yWoGnZ3qY6XiSfq74IITGlJxkjJ7juGJ'\n  },\n  'Misc. Facilities': {\n    'Location #1':   '1EBeEL4pgYHEe-Cf7P3gQjxdIOZBn7RGg',\n    'Location #2':   '1VfuIUglIWBvbn3m7_tBW0yYuqJ--95Mf',\n    'Location #3':   '18UhfvUCfdJRz2XnVoINbouACakyN3ptx',\n    'Location #4':   '1pfoBNYSasys9_vOBEntg4sCbkX3gfphr',\n    'Location #5':   '1ilVs6ysHMFLwV3Cnm-EWN7UgtdOZAY3U',\n    '_group':        '1nFOXhx_VLUnJ8XJWoSvQaZ6oduU3j_iK'\n  }\n};\n\nconst sheetTabMap = {\n  'Burroughs Restaurant Group':       'BRG',\n  'First Choice':                     'FC',\n  'R.S. Lewis and Sons Funeral Home': 'RSL',\n  'Misc. Facilities':                 'Misc'\n};\n\nconst groupMap  = folderMap[group] || {};\nconst folderId  = groupMap[sub] || groupMap['_group'] || '1wJup8vKzYSL-sEnV_ZkEaijfmRbur1Ja';\nconst sheetTab  = sheetTabMap[group] || 'Misc';\n\nreturn [{ json: { ...$json, driveFolderId: folderId, sheetTab } }];"
      }
    },
    {
      "id": "c0a1b2c3-0009-4000-8000-000000000009",
      "name": "Create Closure Binaries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 200],
      "parameters": {
        "jsCode": "const data = $json;\nconst items = [];\n\n// Always create closure PDF binary\nitems.push({\n  json: {\n    fileType: 'closurePdf',\n    fileName: data.closurePdfFileName,\n    driveFolderId: data.driveFolderId\n  },\n  binary: {\n    data: {\n      data: data.rawPdf,\n      mimeType: 'application/pdf',\n      fileName: data.closurePdfFileName,\n      fileExtension: 'pdf'\n    }\n  }\n});\n\n// Optionally create completion photo binary\nif (data.completionPhoto) {\n  const rawPhoto = (data.completionPhoto).replace(/^data:[^;]+;base64,/, '');\n  const photoFileName = data.workOrderId + '-completion.jpg';\n  items.push({\n    json: {\n      fileType: 'completionPhoto',\n      fileName: photoFileName,\n      driveFolderId: data.driveFolderId\n    },\n    binary: {\n      data: {\n        data: rawPhoto,\n        mimeType: 'image/jpeg',\n        fileName: photoFileName,\n        fileExtension: 'jpg'\n      }\n    }\n  });\n}\n\nreturn items;"
      }
    },
    {
      "id": "c0a1b2c3-0010-4000-8000-000000000010",
      "name": "Upload to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1920, 200],
      "parameters": {
        "operation": "upload",
        "name": "={{ $json.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.driveFolderId }}"
        },
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive OAuth2"
        }
      }
    },
    {
      "id": "c0a1b2c3-0011-4000-8000-000000000011",
      "name": "Share Files",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [2160, 200],
      "parameters": {
        "resource": "file",
        "operation": "share",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive OAuth2"
        }
      }
    },
    {
      "id": "c0a1b2c3-0012-4000-8000-000000000012",
      "name": "Prepare Update Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 200],
      "parameters": {
        "jsCode": "const uploadResults = $('Upload to Drive').all();\nconst originalData = $('Resolve Drive Folder').first().json;\n\nlet closurePdfUrl = '';\nlet completionPhotoUrl = '';\n\nfor (let i = 0; i < uploadResults.length; i++) {\n  const upload = uploadResults[i].json;\n  const link = upload.webViewLink || upload.webContentLink || '';\n  const binaryInfo = $('Create Closure Binaries').all()[i];\n  const fileType = binaryInfo ? binaryInfo.json.fileType : (i === 0 ? 'closurePdf' : 'completionPhoto');\n\n  if (fileType === 'closurePdf') {\n    closurePdfUrl = link;\n  } else if (fileType === 'completionPhoto') {\n    completionPhotoUrl = link;\n  }\n}\n\nconst emailHtml = `<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto\"><div style=\"background:#1a5276;color:#fff;padding:20px;text-align:center\"><h1 style=\"margin:0\">First Choice Facilities</h1><p style=\"margin:5px 0 0\">Work Order Closure Confirmation</p></div><div style=\"padding:20px;border:1px solid #ddd\"><h2 style=\"color:#1a5276\">Work Order ${originalData.workOrderId} &mdash; ${originalData.status}</h2><table style=\"width:100%;border-collapse:collapse\"><tr><td style=\"padding:8px;border-bottom:1px solid #eee;font-weight:bold;width:40%\">Technician:</td><td style=\"padding:8px;border-bottom:1px solid #eee\">${originalData.techName}</td></tr><tr><td style=\"padding:8px;border-bottom:1px solid #eee;font-weight:bold\">Closed At:</td><td style=\"padding:8px;border-bottom:1px solid #eee\">${originalData.closedAt}</td></tr><tr><td style=\"padding:8px;border-bottom:1px solid #eee;font-weight:bold\">Status:</td><td style=\"padding:8px;border-bottom:1px solid #eee\">${originalData.status}</td></tr><tr><td style=\"padding:8px;border-bottom:1px solid #eee;font-weight:bold\">Completion Notes:</td><td style=\"padding:8px;border-bottom:1px solid #eee\">${originalData.completionNotes}</td></tr><tr><td style=\"padding:8px;border-bottom:1px solid #eee;font-weight:bold\">Parts Used:</td><td style=\"padding:8px;border-bottom:1px solid #eee\">${originalData.partsUsed || 'None'}</td></tr></table><p style=\"margin-top:20px\"><a href=\"${closurePdfUrl}\" style=\"background:#1a5276;color:#fff;padding:10px 20px;text-decoration:none;border-radius:4px\">View Closure PDF in Drive</a></p></div><div style=\"background:#f5f5f5;padding:10px;text-align:center;font-size:12px;color:#666\">First Choice Facilities &mdash; Automated Notification</div></div>`;\n\nconst emailSubject = `Work Order ${originalData.workOrderId} \\u2014 ${originalData.status} by ${originalData.techName}`;\n\nconst closurePdfBinary = $('Create Closure Binaries').first().binary.data;\n\nreturn [{\n  json: {\n    workOrderId: originalData.workOrderId,\n    status: originalData.status,\n    techName: originalData.techName,\n    closedAt: originalData.closedAt,\n    completionNotes: originalData.completionNotes,\n    partsUsed: originalData.partsUsed || '',\n    completionPhotoUrl,\n    closurePdfUrl,\n    sheetTab: originalData.sheetTab,\n    locationGroup: originalData.locationGroup,\n    locationSub: originalData.locationSub,\n    emailHtml,\n    emailSubject\n  },\n  binary: {\n    pdf: closurePdfBinary\n  }\n}];"
      }
    },
    {
      "id": "c0a1b2c3-0013-4000-8000-000000000013",
      "name": "Update All Tab",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [2640, 200],
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1HRZvsz-rjpItXbZVeG1wFDWr1mlGzKvSttwgGrgEf3I"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "All"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Work Order ID": "={{ $json.workOrderId }}",
            "Status": "={{ $json.status }}",
            "Technician": "={{ $json.techName }}",
            "Closed At": "={{ $json.closedAt }}",
            "Completion Notes": "={{ $json.completionNotes }}",
            "Parts Used": "={{ $json.partsUsed }}",
            "Completion Photo URL": "={{ $json.completionPhotoUrl }}",
            "Closure PDF URL": "={{ $json.closurePdfUrl }}"
          },
          "matchingColumns": ["Work Order ID"],
          "schema": [
            {"id": "Work Order ID", "type": "string", "display": true, "displayName": "Work Order ID", "defaultMatch": true, "canBeUsedToMatch": true},
            {"id": "Status", "type": "string", "display": true, "displayName": "Status", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Technician", "type": "string", "display": true, "displayName": "Technician", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Closed At", "type": "string", "display": true, "displayName": "Closed At", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Completion Notes", "type": "string", "display": true, "displayName": "Completion Notes", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Parts Used", "type": "string", "display": true, "displayName": "Parts Used", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Completion Photo URL", "type": "string", "display": true, "displayName": "Completion Photo URL", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Closure PDF URL", "type": "string", "display": true, "displayName": "Closure PDF URL", "defaultMatch": false, "canBeUsedToMatch": true}
          ]
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "id": "c0a1b2c3-0014-4000-8000-000000000014",
      "name": "Update Org Tab",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [2880, 200],
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1HRZvsz-rjpItXbZVeG1wFDWr1mlGzKvSttwgGrgEf3I"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.sheetTab }}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Work Order ID": "={{ $json.workOrderId }}",
            "Status": "={{ $json.status }}",
            "Technician": "={{ $json.techName }}",
            "Closed At": "={{ $json.closedAt }}",
            "Completion Notes": "={{ $json.completionNotes }}",
            "Parts Used": "={{ $json.partsUsed }}",
            "Completion Photo URL": "={{ $json.completionPhotoUrl }}",
            "Closure PDF URL": "={{ $json.closurePdfUrl }}"
          },
          "matchingColumns": ["Work Order ID"],
          "schema": [
            {"id": "Work Order ID", "type": "string", "display": true, "displayName": "Work Order ID", "defaultMatch": true, "canBeUsedToMatch": true},
            {"id": "Status", "type": "string", "display": true, "displayName": "Status", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Technician", "type": "string", "display": true, "displayName": "Technician", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Closed At", "type": "string", "display": true, "displayName": "Closed At", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Completion Notes", "type": "string", "display": true, "displayName": "Completion Notes", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Parts Used", "type": "string", "display": true, "displayName": "Parts Used", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Completion Photo URL", "type": "string", "display": true, "displayName": "Completion Photo URL", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Closure PDF URL", "type": "string", "display": true, "displayName": "Closure PDF URL", "defaultMatch": false, "canBeUsedToMatch": true}
          ]
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "id": "c0a1b2c3-0015-4000-8000-000000000015",
      "name": "Closure Confirmation Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [3120, 200],
      "parameters": {
        "fromEmail": "noreply@firstchoicefacilities.com",
        "toEmail": "wstine@burroughsrestaurantgroup.com",
        "subject": "={{ $json.emailSubject }}",
        "emailType": "html",
        "html": "={{ $json.emailHtml }}",
        "options": {
          "ccEmail": "charleslowrey137@gmail.com",
          "attachments": "pdf"
        }
      },
      "credentials": {
        "smtp": {
          "id": "SMTP_CREDENTIAL_ID",
          "name": "SMTP"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Prep", "type": "main", "index": 0 }
        ]
      ]
    },
    "Prep": {
      "main": [
        [
          { "node": "Lookup Work Order", "type": "main", "index": 0 }
        ]
      ]
    },
    "Lookup Work Order": {
      "main": [
        [
          { "node": "Process Lookup", "type": "main", "index": 0 }
        ]
      ]
    },
    "Process Lookup": {
      "main": [
        [
          { "node": "Work Order Found?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Work Order Found?": {
      "main": [
        [
          { "node": "Respond OK", "type": "main", "index": 0 }
        ],
        [
          { "node": "Respond Not Found", "type": "main", "index": 0 }
        ]
      ]
    },
    "Respond OK": {
      "main": [
        [
          { "node": "Resolve Drive Folder", "type": "main", "index": 0 }
        ]
      ]
    },
    "Resolve Drive Folder": {
      "main": [
        [
          { "node": "Create Closure Binaries", "type": "main", "index": 0 }
        ]
      ]
    },
    "Create Closure Binaries": {
      "main": [
        [
          { "node": "Upload to Drive", "type": "main", "index": 0 }
        ]
      ]
    },
    "Upload to Drive": {
      "main": [
        [
          { "node": "Share Files", "type": "main", "index": 0 }
        ]
      ]
    },
    "Share Files": {
      "main": [
        [
          { "node": "Prepare Update Data", "type": "main", "index": 0 }
        ]
      ]
    },
    "Prepare Update Data": {
      "main": [
        [
          { "node": "Update All Tab", "type": "main", "index": 0 }
        ]
      ]
    },
    "Update All Tab": {
      "main": [
        [
          { "node": "Update Org Tab", "type": "main", "index": 0 }
        ]
      ]
    },
    "Update Org Tab": {
      "main": [
        [
          { "node": "Closure Confirmation Email", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [],
  "pinData": {}
}