n8n-workflows/fc-open-wo.json
{
  "name": "fc-open-wo",
  "nodes": [
    {
      "id": "d4e5f6a7-1111-4b8c-9d0e-f1a2b3c4d5e6",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 300],
      "webhookId": "fc-open-wo-webhook",
      "onError": "continueRegularOutput",
      "parameters": {
        "httpMethod": "POST",
        "path": "fc-facilities-rm",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-2222-4e5f-6a7b-8c9d0e1f2a3b",
      "name": "Respond Immediately",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [240, 100],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'received', workOrderId: $json.body.workOrderId }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      }
    },
    {
      "id": "b1c2d3e4-3333-4f5a-6b7c-8d9e0f1a2b3c",
      "name": "Prep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nconst rawPdf = (body.pdfBase64 || '').replace(/^data:[^;]+;base64,/, '');\nconst pdfFileName = body.workOrderId + '.pdf';\n\nlet priorityLabel = 'Medium';\nif (body.priority === 'Low') priorityLabel = 'Low';\nelse if (body.priority === 'Medium') priorityLabel = 'Medium';\nelse if (body.priority === 'High') priorityLabel = 'High';\nif (body.isEmergency || body.priority === 'Emergency') priorityLabel = 'EMERGENCY';\n\nconst subjectPrefix = body.isEmergency ? '[EMERGENCY] ' : '';\n\nreturn [{\n  json: {\n    workOrderId: body.workOrderId,\n    submittedAt: body.submittedAt,\n    location: body.location,\n    locationGroup: body.locationGroup,\n    locationSub: body.locationSub,\n    requesterName: body.requesterName,\n    contactMethod: body.contactMethod,\n    category: body.category,\n    description: body.description,\n    priority: body.priority,\n    safetyHazard: body.safetyHazard,\n    isEmergency: body.isEmergency,\n    bestTimeToAccess: body.bestTimeToAccess || '',\n    timeSensitive: body.timeSensitive,\n    neededByDate: body.neededByDate || '',\n    photos: body.photos || [],\n    photoCount: body.photoCount || 0,\n    rawPdf,\n    pdfFileName,\n    priorityLabel,\n    subjectPrefix\n  }\n}];"
      }
    },
    {
      "id": "c1d2e3f4-4444-4a5b-6c7d-8e9f0a1b2c3d",
      "name": "Resolve Drive Folder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300],
      "parameters": {
        "jsCode": "const group = $json.locationGroup || '';\nconst sub   = $json.locationSub   || '';\n\nconst folderMap = {\n  'Burroughs Restaurant Group': {\n    'Collierville':  '180VIqckCkzbfTphClhiBdSXYDqKwc1-R',\n    'Dexter':        '16sPwGAtuRIMVm_4338eo-ofU9g6oKJ1R',\n    'Olive Branch':  '11lIU785alqHXpd31_YJWoSojcAz_vb0y',\n    'Oxford':        '1CeZ8l73tVOhbvwykk3FnjpuGs0b1cuu7',\n    'Whitehaven':    '1QkrW0-ervpfCIdMV4n7ZOz7NGD7P9i4u',\n    '_group':        '1rsniXvtldFG-03TbWSu9QtsC792eoBWF'\n  },\n  'First Choice': {\n    'Main Office':   '1P-h3MjK4orxrkhVBgiH8owR-Z1ua2nGj',\n    'Warehouse':     '1TbJTEpeLyriGirFDSPw2-Pzws5jBnRH8',\n    '_group':        '1Jhju0T0kEgkvdwXm9AFa0cJSqSqMt_bn'\n  },\n  'R.S. Lewis and Sons Funeral Home': {\n    'Austin Peay':   '1k1J55XZXDyDKwc0JzvldgPAo4bFU6VUY',\n    'Vance Avenue':  '1KkXJw-Llr47M_S7eZ_eWjju0Ui5pjHTT',\n    'Walnut Grove':  '1K9D8cK5yibzPw3lXU99TEC-iGIU9hyLs',\n    '_group':        '1yWoGnZ3qY6XiSfq74IITGlJxkjJ7juGJ'\n  },\n  'Misc. Facilities': {\n    'Location #1':   '1EBeEL4pgYHEe-Cf7P3gQjxdIOZBn7RGg',\n    'Location #2':   '1VfuIUglIWBvbn3m7_tBW0yYuqJ--95Mf',\n    'Location #3':   '18UhfvUCfdJRz2XnVoINbouACakyN3ptx',\n    'Location #4':   '1pfoBNYSasys9_vOBEntg4sCbkX3gfphr',\n    'Location #5':   '1ilVs6ysHMFLwV3Cnm-EWN7UgtdOZAY3U',\n    '_group':        '1nFOXhx_VLUnJ8XJWoSvQaZ6oduU3j_iK'\n  }\n};\n\nconst sheetTabMap = {\n  'Burroughs Restaurant Group':       'BRG',\n  'First Choice':                     'FC',\n  'R.S. Lewis and Sons Funeral Home': 'RSL',\n  'Misc. Facilities':                 'Misc'\n};\n\nconst groupMap  = folderMap[group] || {};\nconst folderId  = groupMap[sub] || groupMap['_group'] || '1wJup8vKzYSL-sEnV_ZkEaijfmRbur1Ja';\nconst sheetTab  = sheetTabMap[group] || 'Misc';\n\nreturn [{ json: { ...$json, driveFolderId: folderId, sheetTab } }];"
      }
    },
    {
      "id": "d1e2f3a4-5555-4b5c-6d7e-8f9a0b1c2d3e",
      "name": "Create All Binaries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300],
      "parameters": {
        "jsCode": "const data = $json;\nconst items = [];\n\n// PDF binary\nitems.push({\n  json: {\n    fileType: 'pdf',\n    fileName: data.pdfFileName,\n    driveFolderId: data.driveFolderId\n  },\n  binary: {\n    data: {\n      data: data.rawPdf,\n      mimeType: 'application/pdf',\n      fileName: data.pdfFileName,\n      fileExtension: 'pdf'\n    }\n  }\n});\n\n// Photo binaries\nconst photos = data.photos || [];\nfor (let i = 0; i < photos.length; i++) {\n  const photo = photos[i];\n  const rawPhoto = (photo.photo || '').replace(/^data:[^;]+;base64,/, '');\n  const photoName = photo.photoName || 'image';\n  const photoFileName = `${data.workOrderId}-photo-${i + 1}-${photoName}.jpg`;\n  items.push({\n    json: {\n      fileType: 'photo',\n      fileName: photoFileName,\n      driveFolderId: data.driveFolderId\n    },\n    binary: {\n      data: {\n        data: rawPhoto,\n        mimeType: 'image/jpeg',\n        fileName: photoFileName,\n        fileExtension: 'jpg'\n      }\n    }\n  });\n}\n\nreturn items;"
      }
    },
    {
      "id": "e1f2a3b4-6666-4c5d-6e7f-8a9b0c1d2e3f",
      "name": "Upload to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [960, 300],
      "parameters": {
        "operation": "upload",
        "name": "={{ $json.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.driveFolderId }}"
        },
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive OAuth2"
        }
      }
    },
    {
      "id": "f1a2b3c4-7777-4d5e-6f7a-8b9c0d1e2f3a",
      "name": "Share Files",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1200, 300],
      "parameters": {
        "resource": "file",
        "operation": "share",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive OAuth2"
        }
      }
    },
    {
      "id": "a2b3c4d5-8888-4e5f-6a7b-8c9d0e1f2a3b",
      "name": "Build Sheet Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 300],
      "parameters": {
        "jsCode": "const uploadResults = $('Upload to Drive').all();\nconst originalData = $('Resolve Drive Folder').first().json;\n\nlet pdfUrl = '';\nconst photoUrls = [];\n\nfor (let i = 0; i < uploadResults.length; i++) {\n  const upload = uploadResults[i].json;\n  const link = upload.webViewLink || upload.webContentLink || '';\n  const binaryInfo = $('Create All Binaries').all()[i];\n  const fileType = binaryInfo ? binaryInfo.json.fileType : (i === 0 ? 'pdf' : 'photo');\n\n  if (fileType === 'pdf') {\n    pdfUrl = link;\n  } else {\n    photoUrls.push(link);\n  }\n}\n\n// Build email HTML\nconst emailHtml = `<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto\">\n  <div style=\"background:#1a5276;color:#fff;padding:20px;text-align:center\">\n    <h1 style=\"margin:0\">First Choice Facilities</h1>\n    <p style=\"margin:5px 0 0\">R&amp;M Work Order Notification</p>\n  </div>\n  <div style=\"padding:20px;border:1px solid #ddd\">\n    <h2 style=\"color:#1a5276\">${originalData.subjectPrefix}Work Order ${originalData.workOrderId}</h2>\n    <table style=\"width:100%;border-collapse:collapse\">\n      <tr><td style=\"padding:8px;border-bottom:1px solid #eee;font-weight:bold;width:40%\">Location:</td><td style=\"padding:8px;border-bottom:1px solid #eee\">${originalData.locationGroup} &mdash; ${originalData.locationSub}</td></tr>\n      <tr><td style=\"padding:8px;border-bottom:1px solid #eee;font-weight:bold\">Requested By:</td><td style=\"padding:8px;border-bottom:1px solid #eee\">${originalData.requesterName}</td></tr>\n      <tr><td style=\"padding:8px;border-bottom:1px solid #eee;font-weight:bold\">Category:</td><td style=\"padding:8px;border-bottom:1px solid #eee\">${originalData.category}</td></tr>\n      <tr><td style=\"padding:8px;border-bottom:1px solid #eee;font-weight:bold\">Priority:</td><td style=\"padding:8px;border-bottom:1px solid #eee\">${originalData.priorityLabel}</td></tr>\n      <tr><td style=\"padding:8px;border-bottom:1px solid #eee;font-weight:bold\">Safety Hazard:</td><td style=\"padding:8px;border-bottom:1px solid #eee\">${originalData.safetyHazard ? 'Yes' : 'No'}</td></tr>\n      <tr><td style=\"padding:8px;border-bottom:1px solid #eee;font-weight:bold\">Description:</td><td style=\"padding:8px;border-bottom:1px solid #eee\">${originalData.description}</td></tr>\n      <tr><td style=\"padding:8px;border-bottom:1px solid #eee;font-weight:bold\">Best Time:</td><td style=\"padding:8px;border-bottom:1px solid #eee\">${originalData.bestTimeToAccess}</td></tr>\n      <tr><td style=\"padding:8px;border-bottom:1px solid #eee;font-weight:bold\">Needed By:</td><td style=\"padding:8px;border-bottom:1px solid #eee\">${originalData.neededByDate}</td></tr>\n    </table>\n    <p style=\"margin-top:20px\"><a href=\"${pdfUrl}\" style=\"background:#1a5276;color:#fff;padding:10px 20px;text-decoration:none;border-radius:4px\">View PDF in Drive</a></p>\n  </div>\n  <div style=\"background:#f5f5f5;padding:10px;text-align:center;font-size:12px;color:#666\">First Choice Facilities &mdash; Automated Notification</div>\n</div>`;\n\nconst emailSubject = `${originalData.subjectPrefix}R&M Request ${originalData.workOrderId} — ${originalData.locationSub} [${originalData.priorityLabel}]`;\n\n// Build Slack message for emergencies\nconst slackText = `:rotating_light: *EMERGENCY Work Order* :rotating_light:\\n\\n*Work Order:* ${originalData.workOrderId}\\n*Location:* ${originalData.locationGroup} — ${originalData.locationSub}\\n*Category:* ${originalData.category}\\n*Requested By:* ${originalData.requesterName}\\n*Description:* ${originalData.description}\\n*PDF:* ${pdfUrl}`;\n\n// Prepare PDF binary for email attachment\nconst pdfBinaryData = $('Create All Binaries').first().binary.data;\n\nreturn [{\n  json: {\n    workOrderId: originalData.workOrderId,\n    submittedAt: originalData.submittedAt,\n    locationGroup: originalData.locationGroup,\n    locationSub: originalData.locationSub,\n    requesterName: originalData.requesterName,\n    contactMethod: originalData.contactMethod,\n    category: originalData.category,\n    priority: originalData.priority,\n    safetyHazard: originalData.safetyHazard ? 'Yes' : 'No',\n    description: originalData.description,\n    bestTimeToAccess: originalData.bestTimeToAccess,\n    neededByDate: originalData.neededByDate,\n    photoCount: String(originalData.photoCount || 0),\n    photoUrls: photoUrls.join(', '),\n    pdfUrl: pdfUrl,\n    status: 'Open',\n    sheetTab: originalData.sheetTab,\n    isEmergency: originalData.isEmergency,\n    emailHtml,\n    emailSubject,\n    slackText,\n    priorityLabel: originalData.priorityLabel\n  },\n  binary: {\n    pdf: pdfBinaryData\n  }\n}];"
      }
    },
    {
      "id": "b2c3d4e5-9999-4f5a-6b7c-8d9e0f1a2b3c",
      "name": "Append to All Tab",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [1680, 300],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1HRZvsz-rjpItXbZVeG1wFDWr1mlGzKvSttwgGrgEf3I"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "All"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Work Order ID": "={{ $json.workOrderId }}",
            "Submitted At": "={{ $json.submittedAt }}",
            "Organization": "={{ $json.locationGroup }}",
            "Location": "={{ $json.locationSub }}",
            "Requested By": "={{ $json.requesterName }}",
            "Contact Method": "={{ $json.contactMethod }}",
            "Category": "={{ $json.category }}",
            "Priority": "={{ $json.priority }}",
            "Safety Hazard": "={{ $json.safetyHazard }}",
            "Description": "={{ $json.description }}",
            "Best Time to Access": "={{ $json.bestTimeToAccess }}",
            "Needed By Date": "={{ $json.neededByDate }}",
            "Photo Count": "={{ $json.photoCount }}",
            "Photo URLs": "={{ $json.photoUrls }}",
            "PDF URL": "={{ $json.pdfUrl }}",
            "Status": "Open"
          },
          "matchingColumns": [],
          "schema": [
            {"id": "Work Order ID", "type": "string", "display": true, "displayName": "Work Order ID", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Submitted At", "type": "string", "display": true, "displayName": "Submitted At", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Organization", "type": "string", "display": true, "displayName": "Organization", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Location", "type": "string", "display": true, "displayName": "Location", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Requested By", "type": "string", "display": true, "displayName": "Requested By", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Contact Method", "type": "string", "display": true, "displayName": "Contact Method", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Category", "type": "string", "display": true, "displayName": "Category", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Priority", "type": "string", "display": true, "displayName": "Priority", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Safety Hazard", "type": "string", "display": true, "displayName": "Safety Hazard", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Description", "type": "string", "display": true, "displayName": "Description", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Best Time to Access", "type": "string", "display": true, "displayName": "Best Time to Access", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Needed By Date", "type": "string", "display": true, "displayName": "Needed By Date", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Photo Count", "type": "string", "display": true, "displayName": "Photo Count", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Photo URLs", "type": "string", "display": true, "displayName": "Photo URLs", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "PDF URL", "type": "string", "display": true, "displayName": "PDF URL", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Status", "type": "string", "display": true, "displayName": "Status", "defaultMatch": false, "canBeUsedToMatch": true}
          ]
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "id": "c2d3e4f5-aaaa-4a5b-6c7d-8e9f0a1b2c3d",
      "name": "Append to Org Tab",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [1920, 300],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1HRZvsz-rjpItXbZVeG1wFDWr1mlGzKvSttwgGrgEf3I"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.sheetTab }}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Work Order ID": "={{ $json.workOrderId }}",
            "Submitted At": "={{ $json.submittedAt }}",
            "Organization": "={{ $json.locationGroup }}",
            "Location": "={{ $json.locationSub }}",
            "Requested By": "={{ $json.requesterName }}",
            "Contact Method": "={{ $json.contactMethod }}",
            "Category": "={{ $json.category }}",
            "Priority": "={{ $json.priority }}",
            "Safety Hazard": "={{ $json.safetyHazard }}",
            "Description": "={{ $json.description }}",
            "Best Time to Access": "={{ $json.bestTimeToAccess }}",
            "Needed By Date": "={{ $json.neededByDate }}",
            "Photo Count": "={{ $json.photoCount }}",
            "Photo URLs": "={{ $json.photoUrls }}",
            "PDF URL": "={{ $json.pdfUrl }}",
            "Status": "Open"
          },
          "matchingColumns": [],
          "schema": [
            {"id": "Work Order ID", "type": "string", "display": true, "displayName": "Work Order ID", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Submitted At", "type": "string", "display": true, "displayName": "Submitted At", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Organization", "type": "string", "display": true, "displayName": "Organization", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Location", "type": "string", "display": true, "displayName": "Location", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Requested By", "type": "string", "display": true, "displayName": "Requested By", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Contact Method", "type": "string", "display": true, "displayName": "Contact Method", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Category", "type": "string", "display": true, "displayName": "Category", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Priority", "type": "string", "display": true, "displayName": "Priority", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Safety Hazard", "type": "string", "display": true, "displayName": "Safety Hazard", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Description", "type": "string", "display": true, "displayName": "Description", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Best Time to Access", "type": "string", "display": true, "displayName": "Best Time to Access", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Needed By Date", "type": "string", "display": true, "displayName": "Needed By Date", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Photo Count", "type": "string", "display": true, "displayName": "Photo Count", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Photo URLs", "type": "string", "display": true, "displayName": "Photo URLs", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "PDF URL", "type": "string", "display": true, "displayName": "PDF URL", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Status", "type": "string", "display": true, "displayName": "Status", "defaultMatch": false, "canBeUsedToMatch": true}
          ]
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "id": "d2e3f4a5-bbbb-4b5c-6d7e-8f9a0b1c2d3e",
      "name": "Send Notification Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2160, 300],
      "parameters": {
        "fromEmail": "noreply@firstchoicefacilities.com",
        "toEmail": "charleslowrey137@gmail.com, wstine@burroughsrestaurantgroup.com",
        "subject": "={{ $json.emailSubject }}",
        "emailType": "html",
        "html": "={{ $json.emailHtml }}",
        "options": {
          "attachments": "pdf"
        }
      },
      "credentials": {
        "smtp": {
          "id": "SMTP_CREDENTIAL_ID",
          "name": "SMTP"
        }
      }
    },
    {
      "id": "e2f3a4b5-cccc-4c5d-6e7f-8a9b0c1d2e3f",
      "name": "Is Emergency",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2400, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "cond-emergency-1",
              "leftValue": "={{ $json.isEmergency }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "f2a3b4c5-dddd-4d5e-6f7a-8b9c0d1e2f3a",
      "name": "Slack Emergency Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [2640, 200],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.SLACK_CHANNEL_MAINTENANCE }}"
        },
        "text": "={{ $json.slackText }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackOAuth2Api": {
          "id": "SLACK_CREDENTIAL_ID",
          "name": "Slack OAuth2"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Respond Immediately", "type": "main", "index": 0 },
          { "node": "Prep", "type": "main", "index": 0 }
        ]
      ]
    },
    "Prep": {
      "main": [
        [
          { "node": "Resolve Drive Folder", "type": "main", "index": 0 }
        ]
      ]
    },
    "Resolve Drive Folder": {
      "main": [
        [
          { "node": "Create All Binaries", "type": "main", "index": 0 }
        ]
      ]
    },
    "Create All Binaries": {
      "main": [
        [
          { "node": "Upload to Drive", "type": "main", "index": 0 }
        ]
      ]
    },
    "Upload to Drive": {
      "main": [
        [
          { "node": "Share Files", "type": "main", "index": 0 }
        ]
      ]
    },
    "Share Files": {
      "main": [
        [
          { "node": "Build Sheet Row", "type": "main", "index": 0 }
        ]
      ]
    },
    "Build Sheet Row": {
      "main": [
        [
          { "node": "Append to All Tab", "type": "main", "index": 0 }
        ]
      ]
    },
    "Append to All Tab": {
      "main": [
        [
          { "node": "Append to Org Tab", "type": "main", "index": 0 }
        ]
      ]
    },
    "Append to Org Tab": {
      "main": [
        [
          { "node": "Send Notification Email", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send Notification Email": {
      "main": [
        [
          { "node": "Is Emergency", "type": "main", "index": 0 }
        ]
      ]
    },
    "Is Emergency": {
      "main": [
        [
          { "node": "Slack Emergency Alert", "type": "main", "index": 0 }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [],
  "pinData": {}
}